/* Button Overlay */
.buttons-overlay {
    position: absolute;
    top: 9vh;
    left: 95vw;
    z-index: 1000;
}

/* Navbar */
.navbar {
    height: 7vh;
}

/* Button */
.button-component {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/* Side Bar */
.side-bar {
    position: absolute;
    top: 9vh;
    left: 1vw;
    z-index: 1000;
    max-width: 30vw;
}
/* Initial hidden state */
.slide {
    overflow: scroll;
    transition: transform 0.5s ease-in-out, max-height 0.5s ease-in-out;
    /* max-height: 0; */
    transform: translateX(-125%);
}

/* Visible state */
.slide-in {
    max-height: 90vh;  /* Adjust this as per your card's height */
    transform: translateX(0);
}

/* Hidden state */
.slide-out {
    max-height: 89vh;
    transform: translateX(-125%);
}

/* Visible state */
.slide-in2 {
    max-height: 90vh;  /* Adjust this as per your card's height */
    transform: translateX(180%);
}

/* Hidden state */
.slide-out2 {
    max-height: 89vh;
    transform: translateX(-125%);
}

.modebar{
    display: none !important;
}